<%= form_for flight_data do |f| %>
  <div class="field is-grouped">
    <p class="control is-expanded">
      <%= f.text_field :from, class: 'input', placeholder: 'From' %>
    </p>
    <p class="control is-expanded">
      <%= f.text_field :to, class: 'input', placeholder: 'To' %>
    </p>
    <p class="control is-expanded">
      <%= f.text_field :airline, class: 'input', placeholder: 'Airline' %>
    </p>
    <p class="control is-expanded">
      <%= f.text_field :num_passenger, class: 'input', placeholder: '# Passengers' %>
    </p>
    <p class="control">
      <%= f.submit 'Create', class: 'button is-primary' %>
    </p>
  </div>
<% end %>
