<%= render 'partials/hero'%>
<%= render "partials/flash"%>

<section id='all-flight' class='section'>
  <div class='container'>
    <div class='columns'>
      <%= link_to 'New Flight', new_flight_path, class: 'button is-primary is-fullwidth' %>
    </div>

    <div id="flight-list" class='columns is-multiline'>
      <% @all_flights.each do |flight| %>

      <!-- Append new flight here -->

      <div class='column is-one-quarter'>
        <% if flight.users.include? current_user %>
        <div class='card booked'>
        <% else %>
        <div class='card'>
        <% end %>
          <div class='card-content'>
            <p class='title'>
              <%= flight.from %> - <%= flight.to %>
            </p>
            <p class='subtitle'>
              <%= flight.airline %> (<%= flight.num_passenger %> pax)
            </p>
          </div>
          <% if ! flight.users.include? current_user %>
          <footer class='card-footer'>
            <%= link_to 'View', flight_path(flight), class: 'card-footer-item' %>
            <%= link_to 'Book', "/book/#{flight.id}", class: "card-footer-item", method: :post %>
          </footer>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
