<%= render "partials/hero"%>

<section id="all-flight" class="section">
  <div class="container">
    <div class="columns">
      <% @all_flights.each do |flight| %>
      <div class="column">
        <p class="notification is-info">
          From: <%= flight.from %><br>
          To: <%= flight.to %><br>
          Airline: <%= flight.airline %><br>
          #Passengers: <%= flight.num_passenger %><br><br>


          <%= link_to "View Flight", flight_path(flight), class: "button is-info is-inverted" %><br><br>
          <%= link_to "Edit Flight", edit_flight_path(flight), class: "button is-primary" %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</section>
