<section id="show-flight" class="section">
  <h1 class="title">
    Flight #<%= @individual_flight.id %>:
    <%= @individual_flight.from %> - <%= @individual_flight.to %>
  </h1>

  <%= link_to "Edit Flight", edit_flight_path, class: "button is-primary" %>
  <br>
  <br>

  <%= form_for @individual_flight, method: :delete do |f| %>
    <%= f.submit 'Delete Flight', class: 'button is-secondary' %>
  <% end %>
</section>
